testing.py
/**/*.egg-info
/**/.venv
/**/*.pytest_cache
/**/__pycache__
/**/*.pyo
/**/*.pyd
/**/*.pyc
/**/palace_model
*.msh
build/
testing/
geometries/
results/
*.s4p
*.gds
*.pth
*.onnx
*.onnx.data
*cache